<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" href="../Static/img/Logo.jpg" sizes="32x32">
  <link rel="icon" href="../Static/img/Logo.jpg" sizes="192x192">
  <!-- Palabras Claves -->
  <meta name="keywords" content="Traslados, Viajes, Comodidad, Servicio, CLIENTES, CONDUCTORES">
  <!-- Descripcion -->
  <meta name="description" content="Servicio y Soluciones de Traslados Alta Gama, Viajes, Turismo, Blindados">

  <title>|| Ciclope Traslados S. A. - Registro de Clientes ||</title>
  <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
    integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />

  <link rel="stylesheet" href="../Static/css/style.css">

  <link rel="stylesheet" href="../static/css/ingresar_cliente.css">
  <link rel="stylesheet" href="../static/css/tabla_clientes.css">
</head>

<header>

  <div class="logo">
    <a href="../index.html">|| Ciclope Traslados S. A. ||</a>
  </div>
</header>

<!-- <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/ingresar_cliente.css">
    <link rel="stylesheet" href="../static/css/tabla_clientes.css">
    <title>Registrar </title>
</head> -->

<body>

  <header id="header"></header>

  <main>

    <section>
      <div class="container-form">

        <form action="">
          <div class="entrada">
            <label for="nombre">Nombre </label>
            <input type="text" name="nombre" id="nombre">
          </div>

          <div class="entrada">
            <label for="telefono">Telefono </label>
            <input type="text" name="telefono" id="telefono">
          </div>

          <div class="entrada">
            <label for="email">Email </label>
            <input type="text" name="email" id="email">
          </div>

          <div class="entrada">
            <label for="password">Password </label>
            <input type="text" name="password" id="password">
          </div>

          <div class="entrada">
            <button class="modificar" type="button" onclick="guardar()">Guardar</button>
          </div>

        </form>

      </div>
    </section>

  </main>

  <footer></footer>

  <script src="../Static/js/ingresar_cliente.js"></script>
  <script src="../Static/js/header.js"></script>
  <!-- <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script> -->
</body>

</html>